.btn{
    background-color: orange;
    color: whitesmoke;
}

body{
    /*background-color: darkgrey;*/
}
.Logo{
    height: 200px;
    background-color: black;
   /* background-color:rgba(255, 99, 71, 0.5);*/
   background: url(imagenes/banner.jpg) no-repeat ;
   background-size: cover;

}

img{
    width: 100%;
    height: 100%;
    /*opacity: .2;*/
}

.navbar{
    background-color: black;
    padding: 20px;

    
}

.Logo:hover{
    background-color: #1b1918;
    opacity: .5;
    transition: 300ms;
}

.foto img{
    height: 400px;
    width: auto;
}

.cuerponot{
    padding: 40px;
}

.pie{
    background-color: black;
}

