.btn{
    background-color: orange;
    color: whitesmoke;
}

body{
    /*background-color: darkgrey;*/
}
.Logo{
    height: 200px;
    background-color: black;
   /* background-color:rgba(255, 99, 71, 0.5);*/
   background: url(imagenes/banner.jpg) no-repeat ;
   background-size: cover;

}

img{
    width: 100%;
    height: 100%;
    /*opacity: .2;*/
}

.navbar{
    background-color: black;
    padding: 20px;

    
}

.Logo:hover{
    background-color: #1b1918;
    opacity: .5;
    transition: 300ms;
}

.carousel-inner{
    height: 400px  ;
}

.ti:hover{
opacity: .8;
}

.pie{
    background-color: black;
}

.frente{
    padding: 20px;
   
}

.lateral{
    border-bottom: 2px solid rgb(238, 236, 236);
    border-top: 2px solid rgb(238, 236, 236);
}

.lateral h2{
    text-align: center;
}

.noti1{
   
   margin: 5px;
    padding: 5px;
    height: 100px;
    border-bottom: 2px solid rgb(238, 236, 236);
}
