.btn{
    background-color: orange;
    color: whitesmoke;
    margin-bottom: 10px;
}


.Logo{
    height: 200px;
    background-color: black;
   /* background-color:rgba(255, 99, 71, 0.5);*/
   background: url(imagenes/banner.jpg) no-repeat ;
   background-size: cover;

}

img{
    width: 100%;
    height: 100%;
    /*opacity: .2;*/
}

.navbar{
    background-color: black;
    padding: 20px;

    
}

.Logo:hover{
    background-color: #1b1918;
    opacity: .5;
    transition: 300ms;
}

.pie{
    background-color: black;
}

.frente{
    padding: 20px;
   
}

.titulo , .url{
  
    width: 100%;
    height: 35px;
     margin-bottom: 10px;

}
.descort{
   
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}
.contenido{
    
    width: 100%;
    height: 300px;
   
    margin-bottom: 10px;

}
